#Title{
    margin-top: 65px;
}

.titleAndDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.title-h1{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-shadow: 0 2px 12px rgba(0, 0, 0);
    cursor: pointer;
}

.Desc{
    color: #fff;
    font-size: 24px;
    margin-top: -10px;
    text-shadow: 0 2px 16px rgba(0, 0, 0); 
    font-family: 'Inter', sans-serif;
}